<!DOCTYPE html>
<html>
<head>
	<title>Some Kitties</title>
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1 class="jumbotron">Look at the kitties</h1>
		<div class="row">
			<div class="col-md-4">
				<img src="./images/cat_1.jpg">
			</div>
			<div class="col-md-4">
				<img src="./images/cat_2.jpg">
			</div>
			<div class="col-md-4">
				<img src="./images/cat_3.jpg">
			</div>
		</div>
		<br>
		<br>
		<ul class="pager">
			<li><a href="/">Would you like to go back?</a></li>
		</ul>
	</div>
</body>
</html>