<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1 class="jumbotron">Enter new car information</h1>
		<form role="form">
  			<div class="form-group">
    			<label for="yearofcar">Year of car</label>
   				<input type="text" class="form-control" placeholder="1999">
  			</div>
			<div class="form-group">
			    <label for="typeofcar">Type of Car</label>
			    <input type="text" class="form-control" placeholder="Honda">
			</div>
			<div class="form-group">
			    <label for="makeofcar">Mak of Car</label>
			    <input type="text" class="form-control" placeholder="Civic">
			</div>
			<div class="form-group">
			    <label for="pictureofcar">Picture of car</label>
			    <input type="file">
			</div>
			  	<button type="submit" class="btn btn-default">Submit</button>
			</form>
	</div>
	<ul class="pager">
		<li><a href="/">Go back at looking the pretty cars!</a></li>
	</ul>
</body>
</html>